/* Hyvin minimaalinen versio CSS koodista*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background: deepskyblue;
  border: 1px solid black;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
}

.search-container,
.add-container,
.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(129, 197, 175);
  border: 2px solid black;
  width: 250px;
  height: 200px;
}
